<h1>写真の投稿が完了しました</h1>

<h4>投稿者: <%= @user.name %></h4>

<h4>投稿者: <%= @@picture.image_url %></h4>

<img src=" @picture.image_url ">投稿した写真</img><br>


<a href="afternoon-dusk-33021.herokuapp.com/pictures">確認はこちらをクリック</a>